@font-face {
  font-family: "League Spartan";
  src: url("../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
}

*, 
*::before, 
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.25%;
  height: 100%;
}

body {
  font-size: 1.5rem;
  color: #511f50;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 50%;
    background: url("../images/bg-pattern-top-mobile.svg") no-repeat;
    position: fixed;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 50%;
    background: url("../images/bg-pattern-bottom-mobile.svg") no-repeat;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  @media screen and (min-width: 1200px) {
    &::before {
      background: url("../images/bg-pattern-top-desktop.svg") no-repeat;
    }

    &::after {
      background: url("../images/bg-pattern-bottom-desktop.svg") no-repeat;
    }
  }
}

.section {
  max-width: 1020px;
  min-height: 550px;
  margin: 100px 25px 24px;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 1200px) {
    margin: 100px auto 24px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
  }
}

.container__item {
  @media screen and (min-width: 1200px) {
    &:first-of-type {
      max-width: 380px;
    }
  
    &:last-of-type {
      max-width: 500px;
    }
  }
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 30px;

  span {
    font-size: 4rem;
  }
}

.text {
  color: #8c828b;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.items {
  margin-bottom: 50px;
  
  @media screen and (min-width: 1200px) {
    height: 200px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 70px;
  }
}

.items__item {
  width: 325px;
  background-color: #f7f2f8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  font-weight: 700;
  line-height: 0;
  margin-bottom: 15px;

  @media screen and (min-width: 1200px) {
    width: 400px;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    padding: 20px 0 20px 30px;

    &--1 {
      right: 90px;
    }
  
    &--2 {
      top: calc(50% - 35px);
      right: 45px;
    }
  
    &--3 {
      right: 0;
      bottom: 0;
    }
  }
}

.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;  

  @media screen and (min-width: 1200px) {
    position: relative;
    display: block;
  }
}

.boxes__item {
  width: 325px;
  color: #ffffff;
  background-color: #511f50;
  border-radius: 5px;
  padding: 40px 30px;

  @media screen and (min-width: 1200px) {
    position: absolute;
  }

  .top {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .name {
      font-weight: 700;
    }

    .status {
      color: #bb619b;
      font-weight: 400;
    }
  }

  &--2 {
    top: 20px;
    left: calc(50% - 162px);
  }

  &--3 {
    top: 30px;
    right: 0;
  }
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  position: relative;
  z-index: 1;
  margin-bottom: 24px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
